body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("../images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}
button{
    font-weight: bold;
    width: 150px;
    background-color: goldenrod;
    color: #016f32;
    border: transparent;
    padding: 5px 5px;
    border-radius: 3px;
    margin: 2px;
    text-transform: uppercase;
}